*{
    padding :0;
    margin: 0;
    font-family: "Martel Sans", sans-serif;
}
body{
    background-color: black;
    overflow-x: hidden;
}
.main{
    background-image: url("assets/bgimg.webp");
    height: 95vh;
    position: relative;
    background-position:center center ;
    background-size: max(1200px, 100vw);
    background-repeat:no-repeat ;
    
}
.main-box{
    opacity: 0.77;
    height:95vh;
    width: 100%;
    background-color: black;
    position:absolute;
    top:0;
}
nav{
    max-width: 60vw;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items:center ;
    height:90px;
}
nav img{
    color:red;
    width:114px;
    position: relative;
    z-index: 10;

}

.info {
    height: calc(100% - 90px);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    position: relative;
    z-index: 10;
    gap: 20px;
    
}
select{
    position: relative;
    z-index: 10;
    padding:0rem 1.2rem;
    border-radius: 5px;
    background-color:transparent;
    color: white;
    font-size: 13px;
}
 

nav a{
   background-color: red;
    color: white;
    position: relative;
    z-index: 10;
    border-radius: 5px;
    margin-left: 1rem;
    font-size: small;
}
nav select option{
    color: black;
    
}

.btn2 :first-child{
    width:300px;
    background-color: transparent;
    padding:  0.7rem  1rem;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    margin-right: 0.2rem;
}
.btn2> :nth-child(2){
    padding: 0.3rem 0.3rem 0.3rem 1rem ;
    border-radius: 5px;
    font-weight: 900;
    font-size: larger;
    background-color: red;
    color:white;

}
.info h1{
    font-weight: 900;
    font-size: 45px;
}
div .line{
    background-color: rgb(53, 51, 51);
    height: 7px;
}
nav a:hover{
    opacity: 0.9;
}
.info-image {
      height: 80vh;
      display:flex;
      justify-content: center;
      max-width:70vw ;
      margin: auto;
      align-items: center;
      
}
.info-image h1, p{
    color:white;
}
.img-div img{
    width:443px;
    position: relative;
    z-index: 10;
}
.img-div video{
    width: 393px;
    position:absolute;
    top:65px;
    right: 0px;
}
.img-div{
    display: flex;
    justify-content: center;
    position: relative;
}
.details h1{
    font-size: 38px;
    font-weight: 900;
}
.details p{
    font-size: 21px;
    margin-top: 1rem;

}

.img-div #SV{
    width:300px;
    position: absolute;
    top:40px;
    right: 100px;
}
.FNQ{
    height: 665px;
    padding: 34px;
    
    
}
#icon{
    width: 0px;
    border: 0;
}
.email{
    margin-top:20px ;
}
.FNQ h1, #que{
    color:white;
    font-size: 38px;
    font-weight: 800;
    text-align: center;
}
.FNQ .ans{
    display:flex;
    justify-content: space-between;
    background-color: #2D2D2D;
    padding:15px;
    color: white;
    max-width: 60vw;
    margin:10px auto;
    
}
.ans  img{
color:white;
}
footer{
    color:rgb(202, 193, 193);
    max-width: 60vw;
    margin: auto ;
    padding: 34px;
    
}
.email{
    margin: 30px 0 20px 300px;
    max-width: 50vw;
}
footer .question{
    font-size: 14px;
   padding: 34px 0;
}
#btn{
    padding:34px 0;
}
#net{
    padding:25px 0;
    color:rgb(202, 193, 193);

}
.footer{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr 1fr ;
      
      
}
.footerin{
    display:flex;
    flex-direction: column;
    gap:10px;
}
footer a{
    font-size: 14px;
    color:rgb(212, 203, 203);
}
.i{
    opacity: 0.8;
}
nav span img{
    width:130px;
}
#img2{
    width: 500px;
    height: 300px;
}
#img3{
     width:486px;
}
#img4{
    width: 474px;
    height: 355px;
}
.email{
    padding-top: 15px;
}

@media screen and (max-width : 983px) {
    
    .info-image{
      flex-wrap: wrap;
    }
    .details h1{
        font-size: 22px;
        text-align: center;
    }
    .details p{
        font-size: 13px;
        text-align: center;
    }

    .info{
        width:100%;
        text-align: center;
    }
    .info h1{
        font-size: 30px;
    }
    nav{
        flex-wrap: wrap;
        margin: 0 0  0 20px;
        max-width: 92vw;
    }

    nav span img{
        width:90px;
    }
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr  ;
     }
     .info-image{
        padding-top: 1.5rem;
     }
     #immg4{
        padding-top: 0;
     }
     #immg2{
        padding-top: 0;
     }
     .FNQ .ans{
        max-width: 92vw;
        margin: 8px 10px 8px 20px;
    }
     .email{
        display: none;
    } 
    .FNQ{
        height:531px ;
    }
    
     }

 


 






   @media  screen and (max-width : 532px) {
         .btn2> :nth-child(2){
            display: block;
            margin-left: 8rem;
            font-size: medium;
            padding: 0.1rem 0.1rem 0.1rem 0.5rem;
        }
    .btn2 :first-child{
        margin-bottom: 5%;
        width:70vw;
    }
    .btn2 label{
        width:140px;
        height: 40px;
    }
    select{
        padding: 0 10px;
    }
    .img-div img{
        width: 444px;
    }
    .img-div video{
        width:405px;
    }   
    .img-div #img3{
        width: 444px;
    } 
   .img-div #SV{
    width: 270px;
    position: absolute;
    top:30px;
    right: 90px;
   }
   .FNQ h1, #que{
    color:white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
   
}
footer{
    max-width: 90vw;

}
footer a{
    font-size: 10px;
    color:rgb(212, 203, 203);
}
nav a{
    width:10px;
}
.info h1{
    font-weight: 800;
    font-size: 22px;
}
.btn2 #get{
    padding: 8px 16px;
    margin-bottom: 15px;
}
#img4{
    height: 280px; 
}
#img2{
    height:270px;
}
.FNQ{
    padding: 34px 7px 0px 0px;
}
}

@media screen and (max-width : 790px) {
    .main{
        height:75vh;
    }
    .main-box{
        height: 75vh;
    }
    .info h1{
        font-weight: 800;
        font-size: 22px;
    }
    .info{
        gap:10px;
    }
    .info p{
        font-size: 13px;
    }
    .FNQ .ans{
        max-width: 92vw;
        margin: 8px 10px 8px 20px;
    }
}

@media screen and (max-width : 350px) {
    .btn2> :nth-child(2){
        margin-left: 80px;
        font-size: small;

    }
    .btn2 label{
        width:117px;
        height: 35px;
    }
    .img-div video{
        top:49px;
        width:278px;
    }
    .img-div img{
        width: 317px;
    }
    .img-div #img3{
        width:333px;
    }
    .img-div #SV{
        width: 220px;
        right: 59px;
        top: 20px;
    }
    .main{
        height:85vh;
    }
    .main-box{
        height: 85vh;
    }
    #net{
        font-size: small;
    }
    .FNQ{
        height: 744px;
    }
    .info-image {
        height: 100vh;
}
}
@media screen and (max-width : 220px) {
    .btn2> :nth-child(2){
        margin-left: 0px;
        font-size: small;

    }
    .main{
        height:95vh;
    }
    .main-box{
        height: 95vh;
    }
    nav a{
        display: block;
        width: 50px;
    }
    span img{
        margin-top: 10px;
    }
    .img-div img{
        width:182px;
    }
    .img-div video{
        top: 29px;
        width:160px;
    }
    #img2{
        height:145px;
    }
    .img-div #img3{
        width: 193px;
    }
    .img-div #SV{
        width: 120px;
        right: 40px;
        top: 10px;
    }
    #img4{
        height: 195px;
    }
    .FNQ .ans span{
        font-size: small;
    }
    .FNQ .ans img{
        height: 20px;
    }
    .footer{
        grid-template-columns: 1fr ;

}
    #net{
        font-size: small;
    }
}
@media screen and (max-width : 195px) {
    .info-image {
        height: 90vh;
}
    .FNQ{
        height: 1009px;
    }
    #immg4{
        height: 100vh;
    }
    .img-div video{
        top:18px;
        width:106px;
    }
    .img-div img{
        width:122px;
    }
    #img2{
        height: 119px;
    }
    .img-div #img3{
        width: 130px;
    }
    .img-div #SV{
        width:80px;
        right:25px;
        top:9px;
    }
    #img4{
        height: 130px;
    }
    .main{
        height:110vh;
    }
    .main-box{
        height: 110vh;
    }

}
